name: Release

on:
  push:
    branches:
      - main

jobs:
  release-please:
    permissions:
      contents: write # for googleapis/release-please-action to create release commit
      pull-requests: write # for googleapis/release-please-action to create release PR
      issues: write
    runs-on: ubuntu-latest

    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: .github/release-please-config.json
          manifest-file: .github/.release-please-manifest.json
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      release_tag_name: ${{ steps.release.outputs.tag_name }}

  release:
    needs: release-please
    runs-on: ubuntu-latest
    environment: marketplace
    if: needs.release-please.outputs.release_created == 'true'
    permissions:
      contents: read
      pull-requests: write
      id-token: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 22.x
      - run: npm install
      - name: Test
        run: |
          if [ "$RUNNER_OS" = "Linux" ]; then
            xvfb-run -a npm test
          else
            npm test
          fi
      - name: Publish
        if: success()
        run: npm run deploy
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
